enable
configuration terminal

hostname R1
banner login #********** Router R2 **********#

ip domain lookup
ip name-server 192.168.11.1
ip name-server 8.8.8.8

enable secret Soleil1

line vty 0 4
password Soleil1
login
exit

interface GigaEthernet 0/0
description "Liens vers Switch ML"
switchport mode trunk
switchport trunk encapsulation dot1q
no shutdown
exit

interface GigaEthernet 0/0.10
description "Routage Vlan 10: Hacene"
switchport encapsulation dot1q 10
ip address 192.168.10.1 255.255.255.0
no shutdown
exit

interface GigaEthernet 0/0.20
description "Routage Vlan 20: Julien"
switchport encapsulation dot1q 20
ip address 192.168.20.1 255.255.255.0
no shutdown
exit

interface GigaEthernet 0/0.30
description "Routage Vlan 30: Simon"
switchport encapsulation dot1q 30
ip address 192.168.30.1 255.255.255.0
no shutdown
exit

interface Serial 0/0/0
description "Liens vers router R1"
ip address 10.0.1.2 255.255.255.0
no shutdown
exit

router ospf 1
network 10.0.1.0 0.0.0.255 area 0
network 192.168.10.0 0.0.0.255 area 0
exit

exit
write memory