enable
configuration terminal

hostname R1
banner login #********** Router R3 **********#

ip domain lookup
ip name-server 192.168.11.1
ip name-server 8.8.8.8

enable secret Soleil1

line vty 0 4
password Soleil1
login
exit

interface GigaEthernet 0/0
description "Liens vers Server Debian"
ip address 192.168.0.1 255.255.255.0
no shutdown
exit

interface Serial 0/0/0
description "Liens vers router R1"
ip address 10.0.0.2 255.255.255.0
no shutdown
exit

router ospf 1
network 10.0.0.0 0.0.0.255 area 0
network 192.168.20.0 0.0.0.255 area 0
exit

exit
write memory