enable
configuration terminal

!R1(config)#

hostname R1
banner login #********** Router R1 **********#

ip domain lookup
ip name-server 192.168.11.1
ip name-server 8.8.8.8

ip route 0.0.0.0 0.0.0.0 172.16.0.1

enable secret Soleil1

line vty 0 4
password Soleil1
login
exit

interface GigaEthernet 0/0
description "Liens vers PFsense"
ip address 172.16.0.2 255.255.255.0
ip nat outside
no shutdown
exit

interface Serial 0/0/0
description "Liens vers router R3"
ip address 10.0.0.1 255.255.255.0
ip nat inside
no shutdown
exit

interface Serial 0/0/1
description "Liens vers router R2"
ip address 10.0.1.1 255.255.255.0
ip nat inside
no shutdown
exit

ip nat inside source list 1 interface FastEthernet 0/0 overload
access-list 1 permit any

router ospf 1
default-information originate
network 10.0.0.0 0.0.0.255 area 0
network 10.0.1.0 0.0.0.255 area 0
network 172.16.0.0 0.0.0.255 area 0
exit

exit
write memory